{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> D-Kart | {% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-warning fw-bolder fs-2" href="{% url 'shop:product_list' %}">D-Kart</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav ms-5 d-flex align-items-center">
                    <li class="nav-item dropdown me-3">
                        <a class="dropdown-toggle text-decoration-none text-white" data-bs-toggle="dropdown" aria-expanded="false">
                            Product Categories
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            {% for x in all_categories %}
                            <li><a class="dropdown-item me-3"
                                    href="{% url 'shop:product_list_by_category' x.slug %}">{{x.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class='nav-item me-3'>
                        <a href="{% url 'shop:cart_display' %}" class="nav-link position-relative d-inline-block">
                            <ion-icon name="cart" style="font-size: 25px; color:white;"></ion-icon>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded bg-warning text-dark"
                                style="font-size: 0.7rem;">
                                {% if request.user.cart %}
                                {{ request.user.cart.get_cart_total_quantity }}
                                {% else %}
                                0
                                {% endif %}
                            </span>
                        </a>
                    </li>
                      <li>
                        <a class="nav-item me-3 text-decoration-none text-white"
                                    href="{% url 'shop:order_history' %}">My Orders</a>
                      </li>
                    {% endif %}
                </ul>

                <div class="navbar-nav ms-auto px-5">
                    {% if request.user.is_authenticated %}
                    <span class="nav-link me-3 text-light text-capitalize fw-bolder">Hi, {{ user.username }}</span>
                    <form action="{% url 'accounts:logout' %}" method="post" class="d-inline m-0 p-0">
            {% csrf_token %}
            <button type="submit" class="btn btn-link nav-item nav-link text-white" style="text-decoration: none;">
                Logout
            </button>
        </form>
                    {% else %}
                    <a class="nav-item me-3" href="{% url 'accounts:login' %}">Login</a>
                    <a class="nav-item me-3" href="{% url 'accounts:signup' %}">Register</a>
                    {% endif %}
                </div>
            </div>

            <form action="{% url 'shop:product_list' %}" method="get" class="d-flex">
                <input name="search" class="form-control me-2" type="search" placeholder="Search products..."
                    aria-label="Search">
                <button class="btn btn-outline-warning" type="submit">Search</button>
            </form>
        </div>
    </nav>

    {% if messages %}
    <div class="container my-3" id="django-messages-container">
        {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'success' %}success{% elif message.tags == 'warning' %}warning{% else %}info{% endif %} alert-dismissible fade show fw-bold shadow-sm d-flex align-items-center gap-2"
            role="alert">

            {% if message.tags == 'error' %}
            <ion-icon name="alert-circle-outline" style="font-size: 22px;"></ion-icon>
            {% elif message.tags == 'success' %}
            <ion-icon name="checkmark-circle-outline" style="font-size: 22px;"></ion-icon>
            {% elif message.tags == 'warning' %}
            <ion-icon name="warning-outline" style="font-size: 22px;"></ion-icon>
            {% else %}
            <ion-icon name="information-circle-outline" style="font-size: 22px;"></ion-icon>
            {% endif %}

            <div>{{ message }}</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="py-3 mt-5 border-top text-center text-muted">
        <p>© 2026 Django E-commerce | All rights reserved</p>
        <p>made with ❤ by Pawan</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>